wsdl/ote-cr/edigas/core-cmpts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by user user (SEMA) -->
<!-- edited with XML Spy v4.4 (http://www.xmlspy.com) by Michael Conroy (SEMA) -->
<xsd:schema xmlns:ecl="code-lists.xsd" xmlns:ecc="core-cmpts.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="core-cmpts.xsd" elementFormDefault="qualified">
	<xsd:import namespace="code-lists.xsd" schemaLocation="code-lists.xsd"/>
	<!--_________________________________________________-->
	<!--                           EDIGAS CORE COMPONENTS          V1 R0     -->
	<!--_________________________________________________-->
	<xsd:annotation>
		<xsd:documentation>
			<Titre> List ofEDIGAS  Core Components used in the development of EDIGAS XML Messages  </Titre>
			<Version>Current Version: 1</Version>
			<Release>Current Release: 0</Release>
		</xsd:documentation>
	</xsd:annotation>
	<!--_________________________________________________-->
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG014</Uid>
				<Definition>The monetary value of an object</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="17"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG001</Uid>
				<Definition>A code to uniquely distinguish one occurrence of an entity from another</Definition>.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG002</Uid>
				<Definition>A code to uniquely distinguish one occurrence of an entity from another</Definition>.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="DescriptionCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG003</Uid>
				<Definition>A code uniquely identifying a given description</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CL3055TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="EquipmentType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG004</Uid>
				<Definition>A code uniquely identifying a given equipment</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CL3055TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG005</Uid>
				<Definition>To identify a place or a location and/or related locations. Frquently used to identify a connection point</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CL3055TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="MeasurementPointType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG006</Uid>
				<Definition>The identification of a point where gas throughput is measured.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CL3055TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="MessageDateTimeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG007</Uid>
				<Definition> (Synonym "Document Date Time") Date and time of the preparation of a document. The time must be expressed in UTC as: YYYY-MM-DDTHH:MM:SSZ</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="xsd:dateTime" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="PartyType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG008</Uid>
				<Definition>The identification of an actor in the Energy market.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CL3055TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="PositionType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG009</Uid>
				<Definition>(Synonym "pos") A sequential value representing the relative position of an entity within a space such as a time interval</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="999999"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG010</Uid>
				<Definition>(Synonym "qty") The quantity of an energy product. Positive quantities shall not be signed.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="xsd:decimal" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="ReasonTextType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG011</Uid>
				<Definition>The textual explanation of an act.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="TimeIntervalType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG012</Uid>
				<Definition>The start date and time and the end date and time of an event. The time interval must be expressed in a form respecting ISO 8601 : YYYY-MM-DDTHH:MMZ/YYYY-MM-DDTHH:MMZ.ISO 8601 rules for reduction may apply. The time must always be expressed in UTC.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:annotation>
				<xsd:documentation>
 			ISO 8601 time intervals are always expressed in the form 
			yyyy-mm-ddThh:mmZ/yyyy-mm-ddThh:mmZ
			Note: The minimum XML form of dateTime is yyyy-mm-ddThh:mm:ssZ
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[2][0][0-1][0-9][\-][0-1][0-9][\-][0-3][0-9][T][0-2][0-9][:][0-6][0-9][Z][/][2][0][0-1][0-9][\-][0-1][0-9][\-][0-3][0-9][T][0-2][0-9][:][0-6][0-9][Z]"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="VersionType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>EG013</Uid>
				<Definition>A code that distinguishes one evolution of an identified object from another. Information about a specific object may be sent several times, each transmission being identified by a different version number.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="999"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<!--                            Edigas CODE LIST TYPES                               -->
	<!--_________________________________________________-->
	<xsd:complexType name="ApplicationErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>9321</Uid>
				<Definition>defines a Description format </Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL9321TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="BusinessType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>7009 </Uid>
				<Definition>defines a business status</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL7009TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="CategoryType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>1153 </Uid>
				<Definition>defines a category</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL1153SubTypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="CharacteristicType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>7059 </Uid>
				<Definition>defines a class type of a characteristic</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL7059TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="CharacteristicValueType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>7037 </Uid>
				<Definition>defines a characteristic value</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL7037TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="CurrencyType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>4217 </Uid>
				<Definition>The coded identification of legal tender using ISO 4217 3 alpha codes</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL4217TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="FunctionType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>1225</Uid>
				<Definition>Indicates the function of a message</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL1225TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="ItemTypeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>7143 </Uid>
				<Definition>defines a item type description </Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL7143TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="MeasurePurposeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>6311</Uid>
				<Definition>Indicates the purpose of a measurement.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL6311TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="MeasurementTypeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>3227</Uid>
				<Definition>A domain covering a number of related objects, such as metering point and accounting point, etc.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL3227TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="MessageType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>1001 </Uid>
				<Definition> (Synonym "Document Type") The coded type of a document. The document type describes the principal characteristic of a document</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL1001TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="QuantityTypeType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>6063</Uid>
				<Definition>Indicates the type of quantity.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL6063TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="ReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>1153</Uid>
				<Definition>Indicates the type of reference.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL1153TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="RoleType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>3035</Uid>
				<Definition>Identification of the role played by a party. </Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL3035TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="SequenceSourceType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>1159</Uid>
				<Definition>Indicates the source of the TS</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL1159TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="StatusType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>4405</Uid>
				<Definition>The condition or position of an object with regard to its standing.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL4405TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="StatusCategoryType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>9015</Uid>
				<Definition>Indicates the quantity cvategory.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL9015TypeList" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="UnitOfMeasureType">
		<xsd:annotation>
			<xsd:documentation>
				<Uid>6411</Uid>
				<Definition>(synonym MeasurementUnit) The unit of measure that is applied to a quantity. The measurement units shall be in compliance with UN/ECE Recommendation 20.</Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="v" type="ecl:CL6411TypeList" use="required"/>
	</xsd:complexType>
	<!-- ___________________________________________________________ -->
</xsd:schema>
